{% load staticfiles %}
<html>
<head>
    <title>Search</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<style type="text/css">

</style>

<body bgcolor = "#F0F8FF">
<nav class = "navbar navbar-inverse navbar-fixed-top" role = "navigation">
    <div class = "container">
        <div class = "navbar-header">
            <a href = "#" class = "navbar-brand">图书</a>
        </div>
        <div id="navbar" class = "collapse navbar-collapse">
            <ul class = "nav navbar-nav">
                <li class = "active text-right"><a href = "http://127.0.0.1:8000/search/">查询书目</a></li>
                <li class = "text-right"><a href ="http://127.0.0.1:8000/post/">添加书目</a></li>
                <li class = "text-right"><a href ="http://127.0.0.1:8000/view_all/" >预览书目</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding-top: 50px; text-align: center;">
    <h1>书目查询</h1>
    {%if error %}
    <p style="color: red;">Please submit a search term (by author name).</p>
    {%else %}
    <p style="color: red;">The query name doesn't exist!</p>
    {%endif%}
    <form action="" method="get">
        <input type="text" name="q" >
        <input type="submit" value="搜索" >

    </form>
</div>
</body>
</html>